In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn-whitegrid')

In [2]:
search_values_df = pd.read_csv('search-values.csv')

In [3]:
week_numbers = []
for date in search_values_df['week_id']:
    numbers = date[5:7]
    week_numbers.append(numbers)
    
search_values_df['number_of_week'] = week_numbers

In [4]:
year = []
for date in search_values_df['week_id']:
    numbers = date[0:4]
    year.append(numbers)

search_values_df['year'] = year

In [5]:
search_values_df.head()

              id googleTopic  week_id  value number_of_week  year
0  frozen-yogurt   /m/020b3f  2004-01     20             01  2004
1  frozen-yogurt   /m/020b3f  2004-02     16             02  2004
2  frozen-yogurt   /m/020b3f  2004-03      7             03  2004
3  frozen-yogurt   /m/020b3f  2004-04      7             04  2004
4  frozen-yogurt   /m/020b3f  2004-05     13             05  2004

In [6]:
max_values = DataFrame()

In [11]:
max_values = search_values_df.loc[search_values_df['value'].isin(['100','99'])]

In [14]:
max_values.head()

                 id googleTopic  week_id  value number_of_week  year
493   frozen-yogurt   /m/020b3f  2013-26    100             26  2013
1351      ice-cream    /m/0cxn2  2016-52    100             52  2016
1970            pie    /m/0mjqn  2015-47    100             47  2015
2594    marshmallow    /m/0lgk9  2014-47    100             47  2014
3361         nougat   /m/01ykdy  2016-34    100             34  2016

In [12]:
diet_related_peaks = max_values.loc[max_values['id'].isin(['bread','avocado','diet','pork'])]

In [13]:
diet_related_peaks

            id googleTopic  week_id  value number_of_week  year
7266      diet   /m/02zkwn  2010-01    100             01  2010
15684    bread    /m/09728  2015-47    100             47  2015
15736    bread    /m/09728  2016-47     99             47  2016
23801     pork    /m/0frq6  2015-52     99             52  2015
52204  avocado   /m/01645p  2016-18     99             18  2016

Being interested in the emergence of the keto diet, I have singled out some of the searches I felt would be most related. Since the keto diet commonly means avoiding bread, I have included that among the two most stereotypical keto foods: pork(bacon) and avocado. From a quick online search, I found a long history of the keto diet. However, its most recent popularity has been mentioned to begin in the last couple years. Surprisingly, the height of google search interest for these commonly found keto foods (or the foods to avoid) also were from the past couple of years.