In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('seaborn-whitegrid')

In [2]:
search_values_df = pd.read_csv('search-values.csv')

In [3]:
week_numbers = []
for date in search_values_df['week_id']:
    numbers = date[5:7]
    week_numbers.append(numbers)
    
search_values_df['number_of_week'] = week_numbers

In [4]:
year = []
for date in search_values_df['week_id']:
    numbers = date[0:4]
    year.append(numbers)

search_values_df['year'] = year

In [5]:
search_values_df.head()

              id googleTopic  week_id  value number_of_week  year
0  frozen-yogurt   /m/020b3f  2004-01     20             01  2004
1  frozen-yogurt   /m/020b3f  2004-02     16             02  2004
2  frozen-yogurt   /m/020b3f  2004-03      7             03  2004
3  frozen-yogurt   /m/020b3f  2004-04      7             04  2004
4  frozen-yogurt   /m/020b3f  2004-05     13             05  2004

In [6]:
min_max_values = DataFrame()

In [7]:
min_max_values['foods'] = search_values_df.id.unique()

           foods
0  frozen-yogurt
1      ice-cream
2            pie
3    marshmallow
4         nougat